
{% extends 'base.html' %}

	{% block title %}Update Profile{% endblock %}

	{% block content %}
		{% if user.is_anonymous == False %}
		<div class="container">
			<div class="row">
				<div class="col-6 offset-3">
					<h1 class="text-center my-3">Update Profile</h1>
					{% if error == True %}
						<p class="text-danger">Profile not found</p>
					{% endif %}
					<form action="{% url 'todolist:update_profile' %}" method="post">
						{% csrf_token %}

						<div class="mb-3">
						    <label for="first_name">First Name: </label>
						    <input class="form-control" id="first_name" type="text" name="first_name" value="{{ first_name }}" maxlength="50" required>
						</div>

						<div class="mb-3">
						    <label for="last_name">First Name: </label>
						    <input class="form-control" id="last_name" type="text" name="last_name" value="{{ last_name }}" maxlength="50" required>
						</div>

						<div class="mb-3">
						    <label for="password">Password: </label>
						    <input class="form-control" id="password" type="text" name="password" value="{{ password }}" maxlength="50" required>
						</div>

						<div class="text-center">
					    	<input class="btn btn-success" type="submit" value="Update Profile">
						</div>

					</form>
				</div>
			</div>
		</div>
		{% else %}
			<h1 class="text-center my-3">You are not authorized to access this page.</h1>
			<p class="text-center">Kindly login <a href="{% url 'todolist:login' %}">here.</a></p>
		{% endif %}
	{% endblock %}